.ax_default {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.image {
}
.placeholder {
}
.heading_1 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.heading_2 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.heading_3 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
.heading_4 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
.heading_5 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
.heading_6 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
.paragraph {
  text-align:left;
}
.box_3 {
}
.box_2 {
}
.label {
  font-size:14px;
  text-align:left;
}
.line {
}
.box_1 {
}
.primary_button {
  color:#FFFFFF;
}
.text_area {
  color:#000000;
  text-align:left;
}
.droplist {
  color:#000000;
  text-align:left;
}
.flow_shape {
}
.html_button {
  color:#000000;
}
.tree_node {
  font-family:'MicrosoftSansSerif', 'Microsoft Sans Serif';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:28px;
}
.connector {
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#1E1E1E;
  text-align:center;
  line-height:normal;
}
.menu_item {
}
.link_button {
  color:#169BD5;
}
.text_field {
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:left;
}
.checkbox {
  text-align:left;
}
.radio_button {
  font-family:'微软雅黑';
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
.shape {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#1C9FD8;
  text-align:center;
  line-height:normal;
}
.box_4 {
  color:#FFFFFF;
}
.ellipse {
}
.button {
}
.new_style {
  font-family:'MicrosoftSansSerif', 'Microsoft Sans Serif';
  font-weight:bold;
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:28px;
}
.new_style1 {
  font-size:14px;
  color:#FF6600;
  text-align:left;
}
.paragraph1 {
  text-align:left;
}
